.nav {
    display: flex;
    max-width: 100%;

    background-color: #2e2e2e;
    border: 1px solid #313131;
    border-radius: 5px;

    justify-content: space-between;
    margin-bottom: 30px;
    padding: 10px 20px;
    grid-area: nav;

    a {
        color: var(--bs-service-color);
        text-decoration: none;
        font-size: 20px;
    }
}